<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="endStabilisation" value="29/06/2012"/>
    <add key="endConstruction" value="13/06/2012"/>
    <add key="url" value="172.31.212.152/teamcity"/>
    <add key="login" value="xfd"/>
    <add key="password" value="xfd"/>
    <add key="comPort" value="COM1"/>
  </appSettings>
</configuration>
